.button {
  width: 353px;
  height: 61px;
  background: #FDBF5A;
  border-radius: 70px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    background: #FFA842;
  }

  &:hover {
    color: #000;
  }

  &--disabled {
    background: #D8D7D5;
    color: #737373;
    cursor: default;

    &:hover {
      color: #737373;
    }
  }
}